@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('../font/BMEuljiro10yearslater.ttf') format('truetype');
}

body {
    background-color: #2c3e50;
}

/* 모바일용 */

#wrap {
    display: flex; /*flex로 설정 -> 모든 환경에서 플렉서블 박스로 작동*/
    flex-flow: column nowrap; /*박스가 세로로 한줄씩 배치*/
    width: 80%;
    margin: 0 auto; /*모든 환경에서 박스를 중앙배치*/
    max-width: 1200px;
}
#wrap section {
    box-sizing: border-box; /*선값과 패딩값을 너비값에 포함*/
}

/* nav 영역 */
.nav {
    order: 1;
    width: 100%;
    background: gray;
    border-bottom: 1px solid #000;
}
.nav_list {
    display: flex;
}
.nav_list li {
    width: 25%;
    text-align: center;
}
.nav_list li a {
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}

/* 헤더 영역 */
.header {
    display: flex;
    order: 2;
    /* flex-direction: column; 로고와 메뉴영역이 세로로 배치. 따라서 컬럼 */
    width: 100%;
    background: gainsboro;
}
.header_logo {
    justify-content: left;
    width: 20%;
}
.header_title {
    justify-content: center;
    width: 80%;
    padding: 30px 0;
    padding: 1.875rem 0;
    font-size: 4.188em;
    font-size: 4.188rem;
    line-height: 21px;
    line-height: 1.313rem;
    text-align: center;
    color: black;
    font-family: 'BMEuljiro10yearslater'; 
}



/* 뉴스 영역 */
section {
    order: 3;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    height: 18.750rem;
    cursor: pointer;
}
section .title {
    font-family: 'BMEuljiro10yearslater';
}



/* 테블릿용 */
@media all and (min-width:768px) {
    /* 기본 */
    #wrap {
        flex-flow: row wrap; /*박스를 가로로 배치하면서 여러 줄로 배치*/
    }

    /* 헤더 영역 */
    .header {
        flex-direction: row; /*헤더영역 자식 박스들이 가로로 배치*/ 
        z-index: 10;
        padding: 0;
    }
    .header_title {
        padding: 60px 0;
        padding: 3.125rem 0;
        font-size: 7.188em;
        font-size: 7.188rem;
    }
}



/* pc용 */
@media all and (min-width:960px) {
    /* 기본 */
    #wrap {
        position: relative; /*위치 기준을 결정하기 위해 요소 위치 설정하기 위한 상대적인 위치 설정 속성*/
        width: 90%;
    }
    
    /* 헤더 영역 */
    .header {
        flex-direction: row; /*헤더영역 자식 박스들이 가로로 배치*/ 
        z-index: 10;
        padding: 0;
    }
    .header_title {
        padding: 60px 0;
        padding: 3.125rem 0;
        font-size: 10.188em;
        font-size: 10.188rem;
    }
   
}